<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>果果娱乐城-百人牛牛、21点、森林舞会、摇摇乐</title>
    <meta name="description" content="2017年最真实还原澳门娱乐玩法的在线娱乐场游戏，内含百家乐,21点,百人牛牛,轮盘,德州扑克，猜大小等游戏,一个应用，各种娱乐游戏全囊括！玩腻了水浒传老虎机、水果机等电玩城，来试试和人比拼在线娱乐玩法吧，请选择果果娱乐城。">
    <meta name="keywords" content="手游、棋牌、诈金花、百人牛牛、21点、德州扑克、果果娱乐城、电玩城">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="/lib/swiper-3.4.1.min.css">
    <link rel="stylesheet" href="/dist/css/m.css?v=1ac00b2c7c">
    <script src="/lib/jquery-2.0.3.min.js"></script>
    <script src="/lib/swiper-3.4.0.jquery.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
        </div>
        <div class="desc">
            <div class="section">
                <h1 class="title">果果娱乐城</h1>
            </div>
            <div class="section">
                <p>2017年最真实还原澳门娱乐玩法的在线娱乐场游戏，内含百家乐,21点,百人牛牛,轮盘,德州扑克，猜大小等游戏,一个应用，各种娱乐游戏全囊括！
                    玩腻了水浒传老虎机、水果机等电玩城，来试试和人比拼在线娱乐玩法吧，请选择果果娱乐城。</p>
            </div>
            <div class="section">
                <h2 class="sub-title">游戏特色</h2>
                <p>森林舞会--2017最好玩的森林舞会</p>
                <p>百人牛牛--比经典斗牛更快更刺激！</p>
                <p>俄罗斯轮盘-组合加策略，筹码来得更快！</p>
                <p>21点--加倍要牌拼21点，黑杰克运气爆表！</p>
                <p>摇摇乐--猜大小,猜点数,猜对子，玩法多样。</p>
                <p>百家乐--下注简单，澳门最经典玩法，15秒极速游戏；</p>
            </div>
        </div>
        <div class="down-wrapper">
            <a href="https://itunes.apple.com/cn/app/%E6%96%B0%E6%9E%9C%E6%9E%9C%E5%A8%B1%E4%B9%90%E5%9F%8E/id1211527207?mt=8" class="ios"></a>
            <a href="/app/guoguo.apk" class="android"></a>
            <div class="footer">© 果果娱乐城2017 - 粤ICP备16086920号-1</div>
        </div>
    </div>
    <script>
        new Swiper('.swiper-container', {
            effect: 'fade',
            autoplay: 3000,
            speed: 1500
        });
    </script>
</body>
</html>